extends layout

block content
  .container
    .panel
      .panel-heading
        h3.panel-title Quizz
      .panel-body
        if messages.error
          .alert.alert-danger(role='alert')
            for error in messages.error
              div= error.msg
        if messages.success
          .alert.alert-success(role='alert')
            for success in messages.success
              div= success.msg
        if messages.info
          .alert.alert-info(role='alert')
            for info in messages.info
              div= info.msg

        form.form-horizontal(method='POST' enctype="multipart/form-data" action="/upload")
          .form-group
            label.col-sm-2(for='name') Nom
            .col-sm-8
              input.form-control(type='text', name='name', id='name', autofocus=true required)
          .form-group
            label.col-sm-2(for='img') Image
            .col-sm-8
              input.form-control(type='file', name='image' required)
          .form-group
            label.col-sm-2(for='desc') Description
            .col-sm-8
              textarea.form-control(name='message', id='message', rows='7' required)
          - for (var i=1;i<11;i++)
            .hr-title
              span="Question n°"+i
            .form-group
              label.col-sm-2(for='question') Question
              .col-sm-8
                input.form-control(type='text', name=i+'1' required)
            .form-group
              label.col-sm-2(for='question') Réponses
              .col-sm-8
                input.form-control(type='text', name=i+'2' placeholder="Bonne réponse" required)
            .form-group
              label.col-sm-2
              .col-sm-8
                input.form-control(type='text', name=i+'3' placeholder="Autre proposition" required)
            .form-group
              label.col-sm-2
              .col-sm-8
                input.form-control(type='text', name=i+'4' placeholder="Autre proposition" required)
            .form-group
              label.col-sm-2
              .col-sm-8
                input.form-control(type='text', name=i+'5' placeholder="Autre proposition" required)
          .hr-title
          .form-group
            .col-sm-offset-2.col-sm-8
              button.btn.btn-success(type='submit') Envoyé
